<p>
  products-new works!
</p>
<h3>New Product Creation</h3>
<form action="">
    <label for="name">Name:</label>
    <input type="text" id="name" #nameInput>
    <label for="description">Description:</label>
    <input type="text" id="description" #descInput>
    <label for="price">Price:</label>
    <input type="text" id="price" #priceInput >
    <label for="quantity">Quantity:</label>
    <input type="text" id="quantity" #quantityInput>
    <button class="btn btn-default" (click)="onClick()">Submit</button>
</form>